.a{
    height: 1200px;
    width: 100%;
    position: relative;
    background-color: blue;
}
.b{
    height: 400px;
    width: 350px;
    position: absolute;
   top: 120px;
   left: 170px;
   background-color: white;
}
.c{
    height: 400px;
    width: 350px;
    position: absolute;
   font-size: 50px;
   top: 120px;
   left: 580px;
   background-color: white;
}
.d{
    height: 400px;
    width: 350px;
    position: absolute;
   font-size: 50px;
   top: 120px;
   left: 990px;
   background-color: white;

}
.e{
    height: 400px;
    width: 350px;
    position: absolute;
   font-size: 50px;
   top: 580px;
   left: 170px;
   background-color: wheat;

}
.f{
    height: 400px;
    width: 350px;
    position: absolute;
   font-size: 50px;
   top: 580px;
   left: 580px;
   background-color: lightcyan;

}
.g{
    height: 400px;
    width: 350px;
    position: absolute;
   font-size: 50px;
   top: 580px;
   left: 990px;
   background-color: lightgrey;
}
.h{
    position: absolute;
    top: 190px;
    left: 200px;
    font-size: 40px;
}
