.a{
    height: 200px;
    width: 200px;
    position: relative;
    left: 150px;
    top: 150px;
    background-color: black;
    transition: all 1s ease-in-out 1s;
}
.a:hover{
    background-color: aqua;
    border-radius: 100%;
    transform: rotate(360deg);
}
.b{
    height: 200px;
    width: 200px;
    position: absolute;
    left: 300px;
    background-color: yellowgreen;
}